.post-form {
  width: 50rem;
}

.post-form__button {
  color: white;
  background-color: #878787;
}
.post-form__button.valid {
  background-color: #007A5A;
}

.post-form__input {
  width: 100%;
  background-color: #232529;
  color: white;
  border-style: none;
  outline: none;
  font-size: 11pt;
}

.post-form__input::placeholder {
  color: rgba(255, 255, 255, 0.322);
  font-size: 11pt;
}